@import './base.css';
@import './normal-class.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 2rem;
  }
}

:root, html.dark {
  --el-color-primary: #78C9A5;

  /* --el-color-primary-light-3: color-mix(in srgb, var(--el-color-primary) 70%, white);
  --el-color-primary-light-5: color-mix(in srgb, var(--el-color-primary) 50%, white);
  --el-color-primary-light-7: color-mix(in srgb, var(--el-color-primary) 30%, white);
  --el-color-primary-light-9: color-mix(in srgb, var(--el-color-primary) 10%, white);

  --el-color-primary-dark-2: color-mix(in srgb, var(--el-color-primary) 80%, black); */
}
